/* All styles for your header Components live here */
.HeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 12px 7px 11px;
}

.ImageThumbnail img{
    width: 55px;
}

.HeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px 7px;
}

.HeaderTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 9px;
    }

    .HeaderTitle h3 {
        margin-left: 4px;
    }

    .space {
        margin-left: 4px;
    }