.Footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 68px;
    padding-top: 18px;
    padding-bottom: 21px;
}

.Footer p {
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
    padding-left: 8px;
    color: gray;
}
.material-icons {
    color: gray;
    font-size: 20px;
}

.material-icons:hover {
    cursor: pointer;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flip {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.comments, .recycles, .likes, .messages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 50px;
}

.likes {
    margin-right: 40px;
}